# Template: Go.AllowList.gitignore

# Ignore
# all files
*
# track all sub-directories
!*/
# un-track test directory
/test/

# Allow
!/.gitignore

!*.go
!go.sum
!go.mod

!README.md
!LICENSE

!/internal/menu.go
!/internal/operations.go
!/internal/database/database.go
!/internal/database/queries.sql

!/cmd/
!/cmd/**/*
